/*Body and General Designs*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: black;    
}
/*Body and General Designs*/


/*Header*/
.galery
{
display: none;
}
#MenuR Label{
display: none;
    
}
#B-Menu{
display: none;
}

#MenuR{
display: none;
}

#BH img{
display: block;
margin-left: auto;
margin-right: auto;
width: 25%;
}

.icon-button{
    display: none;
    
}

#Menu{
background-color: rgba(0, 0, 0, 0);
}
#Nav{
text-align: center;
}
#Menu ul li{
display: inline-block;
background-color: rgba(255, 255, 255, 0);
border-radius: 10px;
padding: 5px;
width: 150px;
transition: all 1.5s;
}
#Menu ul li a{
color: rgb(255, 255, 255);
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
display: block;
transition: all 1s;
}
#Nav li a:hover{
color: rgb(0, 0, 0);
padding-left: 5px;
}
#Nav li:hover{
background-color: rgb(255, 255, 255);
}

/*Header*/

/*Responsive Header and Menu*/

@media (max-width:2560px) {  
#BH img{
width: 27%;
transition: all 1s;  
}  
}
@media (max-width:1440px) { 
#BH img{
width: 30%;
transition: all 1s;    
}      
}
@media (max-width:1440px) { 
#BH img{
width: 40%;  
transition: all 1s;    
}      
}
@media (max-width:768px) { 
#BH img{
width: 55%;  
transition: all 1s;    
}      
}
/*Responsive Header and Menu*/

/*Responsive Mobil Page Design*/
@media (max-width:425px) {
    
    
#B-Menu{
z-index: 500;
}

#BH {
display: none;
}
#Menu{
display: none;
}

/*Menu Responsive*/

#MenuR{
display: block;

position: absolute;

}
#MenuR Label{
display: block;
width: 40px;
height: 40px;
padding: 5px;
transition: all 1s;

}
#MenuR Label:hover{
opacity: 100%;
}


#MenuR label img{
width: 40px;
transition: all 1s;

}
#MenuR label img:hover{
width: 45px;

}
    

.RMenu {
margin-top: -300px;
transition: all 1s;
z-index: 1;
width: 425px;
margin-left: 0px;
background-color: rgba(0, 4, 65, 0.562);


}

.RMenu ul{

text-align: center;
list-style: none;

}
.RMenu ul li{
transition: all 1s;
padding: 10px; 

}
.RMenu ul li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
 color: rgb(255, 255, 255);
 transition: all 1s;  
 display: block;
 
}
.RMenu ul li:hover{
background-color: white;
border-radius: 40px;
}
.RMenu ul li a:hover{
color: black;
font-size: 20px;
}
#B-Menu:checked ~ .RMenu {
margin-top: -40px;    
}

.galery{
display: block;  
  
}
.galery img{
width: 425px;
  
}

/*Menu Responsive Mobil*/
}
/*Responsive Mobil Page Design*/
