/*Body and General Designs*/
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background-color: black;    
}
/*Body and General Designs*/


/*Header*/
.HRe{
display: none;    
}
.galery
{
display: none;
}
#MenuR Label{
display: none;    
}
#B-Menu{
display: none;
}
#MenuR{
display: none;
}
#BH img{
display: block;
margin-left: auto;
margin-right: auto;
width: 25%;
}
.icon-button{
    display: none;
    
}

#Menu{
background-color: rgba(0, 0, 0, 0);
}
#Nav{
text-align: center;
}
#Menu ul li{
display: inline-block;
background-color: rgba(255, 255, 255, 0);
border-radius: 10px;
padding: 5px;
width: 150px;
transition: all 1.5s;
}
#Menu ul li a{
color: rgb(255, 255, 255);
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
display: block;
transition: all 1s;
}
#Nav li a:hover{
color: rgb(0, 0, 0);
padding-left: 5px;
}
#Nav li:hover{
background-color: rgb(255, 255, 255);
}

/*Header*/








/*SLIDER*/

.slider{  
width: 98%;
margin: auto;
overflow: hidden;
} 
.slider ul{  
display: flex;
padding: 0;
width: 400%;
animation: cambio 20s infinite;
animation-direction: alternate;
}
.slider li{ 
width: 100%; 
list-style: none;}

.slider img{ 
 width: 100%;
 height: 100%;
object-fit: cover;
border-radius: 10px;
}
    
@keyframes cambio {
    
0% {margin-left:0;}
20% {margin-left:0;}

25% {margin-left:-100%;}
45% {margin-left:-100%;}

50% {margin-left:-200%;}
70% {margin-left:-200%;}

75% {margin-left:-300%;}
100% {margin-left:-300%;}

}  
/*SLIDER*/

/*Responsive Header and Menu*/

@media (max-width:2560px) {  
#BH img{
width: 27%;
transition: all 1s;  
}  
}
@media (max-width:1440px) { 
#BH img{
width: 30%;
transition: all 1s;    
}      
}
@media (max-width:1440px) { 
#BH img{
width: 40%;  
transition: all 1s;    
}      
}
@media (max-width:768px) { 
#BH img{
width: 55%;  
transition: all 1s;    
}      
}
/*Responsive Header and Menu*/


/*Responsive Mobil Page Design*/
@media (max-width:425px) {
.HRe{
display: block;
position: absolute;  
}
 .HRe img{
width: 100%;
}          
#B-Menu{
z-index: 500;
}
#BH {
display: none;
}
#Menu{
display: none;
}
/*Menu Responsive*/
#MenuR{
display: block;
position: absolute;
}
#MenuR Label{
display: block;
width: 40px;
height: 40px;
padding: 5px;
transition: all 1s;
}
#MenuR Label:hover{
opacity: 100%;
}
#MenuR label img{
width: 40px;
transition: all 1s;
}
#MenuR label img:hover{
width: 45px;
}
.RMenu {
opacity: 0%;
margin-top: -300px;
transition: all 0.5s;
z-index: 1;
width: 100%;
margin-left: 0px;
background-color: rgba(0, 0, 59, 0.781);
width: 100vmin;
}
.RMenu ul{
text-align: center;
list-style: none;
}
.RMenu ul li{
transition: all 1s;
padding: 22px; 
}
.RMenu ul li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
color: rgb(255, 255, 255);
transition: all 1s;  
display: block;
}
.RMenu ul li:hover{
background-color: white;
border-radius: 40px;
box-shadow: 0px 5px 5px -5px  black ;
}
.RMenu ul li a:hover{
color: black;
font-size: 20px;
}
#B-Menu:checked ~ .RMenu {
margin-top: 35px;
opacity: 100%;   
}
.slider img{ 
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 0px;  
}
.slider{  
width: 100%;
margin: auto;
overflow: hidden;
padding-top: 80px;  
}



/*Menu Responsive Mobil*/
}
/*Responsive Mobil Page Design*/


/*Mobil Scale Responsive*/
@media (max-width:375px) {  
.RMenu {
 opacity: 10%;
 margin-top: -300px;
 transition: all 1s;
 z-index: 1;
 width: 100vmin;
 margin-left: 0px;
 background-color: rgba(0, 0, 59, 0.781);        
}       
.RMenu ul{       
text-align: center;
list-style: none;       
}
.RMenu ul li{
transition: all 1s;
padding: 19px;       
}
.RMenu ul li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
color: rgb(255, 255, 255);
transition: all 1s;  
display: block;
} 
.slider{  
width: 100%;
margin: auto;
overflow: hidden;
padding-top: 80px;  
}
}
@media (max-width:320px) {    
.RMenu {
opacity: 10%;
margin-top: -300px;
transition: all 1s;
z-index: 1;
width: 100vmin;
margin-left: 0px;
background-color: rgba(0, 0, 59, 0.781);       
}          
.RMenu ul{          
text-align: center;
list-style: none;           
}
.RMenu ul li{
transition: all 1s;
padding: 15px;           
}
.RMenu ul li a{
text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
color: rgb(255, 255, 255);
transition: all 1s;  
display: block;           
}
#B-Menu:checked ~ .RMenu {
margin-top: 20px;
opacity: 100%;   
}         
.HRe img{
width: 100vmin;   
}
#MenuR label img{
width: 30px;
transition: all 1s;  
}
#MenuR label img:hover{
width: 35px;   
}
.slider{  
width: 100%;
margin: auto;
overflow: hidden;
padding-top: 60px;  
}  
}
/*Mobil Scale Responsive*/


/*SSV Responsive*/

.SSV{
border-radius: 10px;
height:100%;
display: block;
margin-left: auto;
margin-right: auto;
background-color: rgb(0, 0, 0);
width: 85%;
    
}
.SSV p{
text-align: center; 
background-color: white; 
border-radius: 10px;
}

.SSV p strong{
color: rgb(0, 0, 0);
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
font-size: 3vmin;   
}
#cars{
text-align: center;  
}
#cars a img{
width: 25vmin;
padding: 10px; 
transition: all 1s;
border-radius: 20px;
 
}

#cars a img:hover{
width: 24.5vmin;
padding: 15px; 
 
}

@media (max-width:425px) {
#cars a img{
width: 40vmin;
padding: 10px; 
transition: all 1s;
border-radius: 20px;
 
}

#cars a img:hover{
width: 39.5vmin;
padding: 13px; 
 
}
}

/*SSV Responsive*/


/*How Find us*/

.Art{
display: block;
margin-left: auto;
margin-right: auto;    
width: 80%;
height: auto;    
background-color: rgb(0, 0, 0);
}

.Art iframe{
    

width: 90%; 
height: 40vmin; 
display: block;
margin-left: auto;
margin-right: auto;    
border-radius: 10px;

}


.Des{
text-align: center;
background-color: white;
border-radius: 30px;
}

.Des p strong{
color: rgb(0, 0, 0);
font-size: 3vmin;
font-family: Arial, Helvetica, sans-serif;
}

.Sprin{
display: inline-flex;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 18vmin;
background-color: rgb(3, 0, 19);
}


#T1{
margin-left: 30vw;
background-color: rgb(3, 0, 19);
width: 20vmax;
height: 18vmin;
text-align: center;

}
#T1 ul li a{
font-size: 1.5vmin;
text-decoration: none;
color: white; 
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
transition: all 2s;
padding: 5px;
display: block;
 
}
#T1 ul li a:hover{
font-size: 1.5vmin;
text-decoration: none;
color: rgb(0, 0, 0); 
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
background-color: white;
border-radius: 20px;
padding: 3px;
 
}
#T1 ul {
list-style: none;  
}

#T1 p strong{
color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
font-size: 2vmin;
}

#T2{
margin-left: 1vw;
background-color: rgb(3, 0, 19);
width: 20vmax;
height: 20vmin;
height: 18vmin;
}

#T2 ul li a{
font-size: 1.5vmin;
text-decoration: none;
color: white; 
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
transition: all 2s;
padding: 5px;
display: block;
 
}
#T2 ul li a:hover{
font-size: 1.5vmin;
text-decoration: none;
color: rgb(0, 0, 0); 
font-weight: bolder;
font-family: Arial, Helvetica, sans-serif;
background-color: white;
border-radius: 20px;
padding: 3px;
 
}
#T2 ul {
list-style: none;

    
}

#T2 p strong{
color: rgb(255, 255, 255);
font-family: Arial, Helvetica, sans-serif;
font-size: 2vmin;
}
.Copyright {
width: auto;
height: 2vmin;
text-align: center;

}
.Copyright p strong{
color: white;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 1.5vmin;
}




/*How Find us*/
/*Responsive Footer*/
@media (max-width:768px)
{
.Sprin{
display: inline-flex;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 17vmax;
background-color: rgb(3, 0, 19);
}
#T1{
margin-left: 25vw;
background-color: rgb(3, 0, 19);
width: 20vmax;
height: 18vmin;
text-align: center;
}
}
@media (max-width:700px)
{
.Sprin{
display: inline-flex;
margin-left: auto;
margin-right: auto;
width: 100%;
height: 12vmax;
background-color: rgb(3, 0, 19);
}
#T1{
margin-left: 12vw;
background-color: rgb(3, 0, 19);
width: 20vmax;
height: 18vmin;
text-align: center;
}
}
/*Responsive Footer*/